<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>Assignment 03 - Directives</h1>
      <hr />

      <h3>Assignment Description:</h3>
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
      <hr />

      <h3>Assignment Solution:</h3>
      <button type="button" class="btn btn-primary"
        (click)="onClickButton()">Display Details</button>

      <div class="row">
        <div class="col-xs-3">
          <div *ngIf="showPassword">
            <h4>Secret Password:</h4>
            <h4><strong>tuna</strong></h4>
          </div>
        </div>
        <div class="col-xs-9">
          <h4>Clicks:</h4>
          <p *ngFor="let click of clickLog; let i = index">
            <span
              [ngStyle]="{backgroundColor: click.index >= 5 ? 'blue' : 'white'}"
              [ngClass]="{'text-white': i >= 4}">

              <strong>#{{click.index}}. </strong>
              The button was clicked at {{click.timestamp}}.
            </span>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
